#menu {
  overflow-y: auto;
  width: 300px;
  padding: 0;
   margin: 20px;
   display: inline;
}
.dropbtn {
  background-color: #DCDCDC;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
